<nav id="admin-sidebar" class="nav flex-column w-25 h-100 bg-info">
    <a class="nav-link" href="#">Modifier galerie</a>
    <a class="nav-link" href="#">Publier la carte</a>
    <a class="nav-link" href="{{ path('app_business_hours_update') }}">Editer les horaires</a>
    <a class="nav-link" href="#">Consulter les réservations</a>

</nav>