<footer style="display: flex; justify-content: center; width: 100%">
    <div style="
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            min-width: 50%;
            background: lightblue">
        <div style="font-size: 3rem">LOGO</div>
        <div style="font-size: 2rem">Adresse</div>
        <div style="font-size: 2rem">Horaires</div>
    </div>
</footer>