{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}
<div class="">
    <h1>Réservation</h1>
    <div>Hello {{ app.user.email }}</div>

    <h4>Afficher réservations : </h4>
</div>
{% endblock %}
