{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}
<div class="">
    <h1>Réservation</h1>
    <div>
    <h4>>Nouvelle réservation : </h4>
        {{ form_start(reservation) }}
        {{ form_widget(reservation) }}
        {{ form_rest(reservation) }}
        {{ form_end(reservation) }}
    </div>
</div>
{% endblock %}
