{% extends 'base.html.twig' %}

{% block title %}Préferences Admin{% endblock %}

{% block sidebar %}
    {% include('fragments/layout/_admin_sidebar.html.twig')%}
{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1>Préferences Admin</h1>
    </div>
{% endblock %}